In [7]:
squares=["red","blue","green"]
for i,s in enumerate(squares):
  print(i,s)

0 red
1 blue
2 green

In [13]:
new_sq=[]
i=0
while(squares[i]!="blue"):
  new_sq.append(squares[i])
  i=i+1
new_sq

['red']

In [19]:
def f1(input):
 output=input+1
 print(input,"+ 1=",output)
 return output
def f2(input):
 output=input+2
 return output
print(f1(50))
print(f2(2))

50 + 1= 51
51
4

In [25]:
list=[1,2,1,3,4]
list.index(6)
# list.count()

ValueError: 6 is not in list

In [31]:
x=5
y='''5'''
type(y)

str

In [32]:
numbers = [1, 2, 3, 4, 5]
for i in range(len(numbers)):
    print(numbers[i])

1
2
3
4
5

In [28]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [29]:
list1 = [1,1,1,1,0]
print(sum(list1))

4

In [30]:
_x = 10
y = 5
if _x > y:
  print("x is greater than y")
else:
  print("y is greater than x")

x is greater than y

In [34]:
str1="ishan"
str1[::-1]

'nahsi'

In [35]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [37]:
# m@e=6
x = 10
if x > 5:
    if x > 8:
        print("x is greater than 8")
    else:
        print("x is greater than 5 but less than or equal to 8")
else:
    print("x is less than or equal to 5")

x is greater than 8

In [38]:
i = 10
while i > 0:
    print(i)
    i -= 2

10
8
6
4
2

In [39]:
string1 = "Data"
string2 = "Science"
result = string1 + " " + string2
print(result)

Data Science

In [40]:

# What is the output of the following code?

my_tuple = (1, 2, 3, 4)
for i in range(len(my_tuple)):
    print(my_tuple[i])

1
2
3
4

In [41]:
abs(-90)

90

In [44]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[3:5])

(4, 5)

In [46]:
a=4

In [47]:
list1 = [9,8,7]
list2 = [6,5,4]
result = list1 + list2
print(result)

[9, 8, 7, 6, 5, 4]

In [50]:
if x == 5:
print("x is equal to 5")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-50-9c2aa218285b>, line 2)

In [52]:
if x == 5:
  print("x is equal to 5")
else:
  print("x is not equal to 5")

x is not equal to 5

In [62]:
list1 = [1,1,0,1,0]
# print(sum(list1))
list1[6]

IndexError: list index out of range

In [55]:

my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.get("d", 0))

0

In [60]:
my_dict = {"red": 2, "blue": 3, "green": 4}
my_dict["yellow"] = 5
print(my_dict.items())

dict_items([('red', 2), ('blue', 3), ('green', 4), ('yellow', 5)])

In [63]:
sentence=("Data Science")
sentence.count('Data')

1

In [65]:
while False:
  print("Hello")

In [66]:
tuple1=(10,20,30,40,50)
print(tuple1[-3:])

(30, 40, 50)

In [67]:
list1 = [9,8,7]
result = list1 * 2
print(result)

[9, 8, 7, 9, 8, 7]

In [68]:
value = 230

if value>112:

print(value)

value +=1

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-68-2511a3e86890>, line 5)

In [69]:
n=4
type(n)

int

In [70]:
n1="4"
type(n1)

str

In [73]:
lst = eval(input())
n = int(input())

print(lst[::n])

[1,2,3,4,5,6,7,8,9,10]
2
[1, 3, 5, 7, 9]

In [77]:
def greet(name):
    return "Hello, " + name

for _ in range(3):
    print(greet("Alice"))

Hello, Alice
Hello, Alice
Hello, Alice

In [80]:
L=[1,3,2]

L=sorted(L)
L

[1, 2, 3]

In [81]:
x=1

y=1

a = (x/(x+y)*x)*(x+y)

print(a)

1.0

In [82]:
sentence="Data Science is a pretty interesting subject"

print(type("sentence"))

<class 'str'>

In [83]:
list1 = [6,7,8,9]
print(len(list1))

4

In [85]:
sentence=("Data Science")
sentence.count('data')

0

In [88]:
{}

{}

In [98]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [92]:
s=(1,2,3,4,5,6,7,8,9,10)
s[3:8]

(4, 5, 6, 7, 8)

In [95]:
s1={2,7,9}
s1[1:2]

TypeError: 'set' object is not subscriptable

In [101]:
l=[1,2,3]
l1=[4,5,6]
# l.append(l1)
l.extend(l1)
l

[1, 2, 3, 4, 5, 6]

In [102]:
l[7:9]

[]

In [103]:
len(input("string"))

stringrhkrkr

6

In [105]:
my_list = ['cat', 'dog', 'elephant', 'bear']
print(min(my_list))

bear

In [106]:
my_list = ['cat', 'dog', 'bear', "Dog"]
print(max(my_list))

dog

In [108]:
# print(10/0)

ZeroDivisionError: division by zero

In [107]:
# using Try- except
try:
    # Attempting to divide 10 by 0
    result = 10 / 0
except ZeroDivisionError:
    # Handling the ZeroDivisionError and printing an error message
    print("Error: Cannot divide by zero")
# This line will be executed regardless of whether an exception occurred
print("outside of try and except block")

Error: Cannot divide by zero
outside of try and except block

In [118]:
class circle:
  def __init__(self,radius,color):
    self.radius=radius
    self.color=color
def main():
  C1=circle(67,"red")
  print(C1.radius)


if __name__ == "__main__":
    main()

67

In [119]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [120]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
for word in words:
   if 'b' in word:
      print(word)

banana
elderberry

In [121]:
numbers = [1, 2, 3, 4, 5]
for i in range(len(numbers)):
    print(numbers[i])

1
2
3
4
5

In [122]:
my_tuple = (1, 2, 3, 4)
for i in my_tuple:
   if i == 3:
     break
   print(i)

1
2

In [123]:
# i = 0
# while i < 5:
#     if i % 2 == 0:
#        print(i)
#        i += 1

0

KeyboardInterrupt: